body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

main{
    /* background-color: #9dbae66e; */
    padding: 2%;
    margin: 0% 30% 0% 30%;
    border-radius: 20px;
    -webkit-box-shadow: -5px 8px 25px #788bb0;
}
.color{
    margin: 3px 0px -8px 0px;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #d0d1fd;
}

#colorSelect{
    margin: 3px 0px 8px 0px;
    width: 40px;
    height: 40px;

}

.pixel{
    width: 15px;
    height: 15px;
    margin: -1px;
    display: inline-block;
    border: 1px solid #d0d1fd;
    background-color: white;
}

#pixel-board{
    margin: 10px;
    text-align: center;
}

.section-pixel{
    margin: -5px;
}
#color-palette, #title, #bottons{
    text-align: center;
}

h1{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em #8a8a8a;
}

button{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, rgb(58 65 111 / 50%) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 28px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 12px;
    margin: 5px;
}

footer{
    display: flex;
    justify-content: center;
    margin: 2%;
    color: rgb(123, 123, 123);
}

#input{
    display: flex;
    justify-content: center;
}

input{
    width: 20%;
    margin: 7px;
}

#color-palette{
    display: flex;
    justify-content: center;
    margin: 0% 30% 3% 30%;
    padding: 5px;
    border-radius: 10px;
    background-color: #d0d1fd;
}